*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif; 
}
/*Body*/
body 
{
	background-color: #E5E5E5;
}
/*Container*/
#container
{
	position: relative;
}
/*Box Empres
a*/
.title-empresa
{
	height: 80px;
	width: 100%;
	line-height: 80px;
}
.title-empresa h2 
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	background-color: #FE9A2E;
	z-index: 999;
	border-bottom: 4px solid #FFF;
}
/*Principal*/
.principal 
{
	max-width: 920px;
	width: 100%;
	margin: auto;
	border: 1px solid #111;
}
/*Box Image*/
.box-image
{
	width: 49%;
	float: left;
	border: 1px solid #111;
}
.box-image img 
{
	width: 100%;
}
.box-image figcaption
{
	border: 1px solid #111;
	background-color: tomato;
	text-align: center;
	color: #FFF;
}
/*Box Info*/
.box-info
{
	width: 49%;
	float: right;
	border: 1px solid #111;
}
/*Clear*/
.clear
{
	clear: both;
}
/*footer*/
footer
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	background-color: #FE9A2E;
	z-index: 999;
	border-bottom: 4px solid #FFF;
	margin-top: 80px;
}